%main
  .sideber
    =render "shared/sidebar"
  .contents
    .todos
      .new-todo-form
        %h1 新規作成
        =form_with model: @todo do |f|
          = f.label :name, "タイトル"
          = f.text_area :name
          = f.label :description, "詳細"
          = f.text_area :description
          = f.label :deadline, "期日"
          = f.date_field :deadline, id: "deadline-form"
          = f.submit "送信", class: "destroy"
    .calendar
      #calendar
